* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* font-family: "Amatic SC", sans-serif; */
  /* font-family: "Inter", sans-serif; */
}
*,
::after,
::before {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 13vh;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui;
  font-size: 1.0625rem;
  font-weight: 600;
  z-index: 900;
  filter: drop-shadow(gray 0px 0px 3px);
}

.navbar .logo span {
  font-size: 1.875rem;
  font-weight: 700;
  color: rgb(33, 37, 41);
}
.navbar .logo span::after {
  content: ".";
  color: #cf1313;
}

.navbar .link li{
  list-style: none ;
}
.navbar .link ul{
  display: flex;
}

.navbar .link a {
  text-decoration: none;
  color: #7e7e8f;
  padding-left: 20px;
  font-size: 1.0625rem;
  font-weight: 600;
  transition: all 1s;
  position: relative;
}
.navbar .link a::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -6px;
  width: 0px;
  background-color: #cf1313;
  transition: 0.5s;
}

.navbar .icone {
  font-size: 1.625rem;
  font-weight: 900;
}
.navbar .link a:hover {
  color: black;
}
.navbar .link a:hover::before {
  width: 55px;
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 80px;
}

.home {
  background-color: #ededed;
  width: 100%;
  height: fit-content;
  padding: 50px 0;
}
.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .container .content{
  width: 50%;
}
.home .container .content h2 {
  font-family: "Amatic SC", sans-serif;
  font-size: 4.0625rem;
  color: rgb(55, 55, 63);
  font-weight: 700;
}
.home .container .content p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.625rem;
  color: rgb(79, 79, 90);
  padding-top: 10px;
}

.home .container .book-btn {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.home .container .watch-btn {
  padding-left: 50px;
}
.home .container .book-btn > button a {
  text-decoration: none;
  color: #ffffff;
}
.home .container .watch-btn > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

.home .container .book-btn > button {
  background-color: #cf1313;
  width: 130px;
  height: 45px;
  color: #ffffff;
  font-size: 0.9375rem;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: #cf1313 solid 0.0625rem;
  border-top-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: all 1s;
}
.home .container .book-btn > button:hover {
  background-color: #fe0404;
}

.home .container .watch-btn a:hover {
  color: #cf1313;
}


.home .container .watch-btn .brdr{
  border: #cf1313 solid 8px;
  border-radius: 50%;
  border-right: transparent solid 8px; 
  border-top: transparent solid 8px;
  transform: rotate(50deg);
}
.home .container .watch-btn a i {
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  transform: rotate(70deg);
}
.home .img{
  width: 40%;
}
.home .img img {
  width: 100%;
  filter: drop-shadow(5px 5px 15px);
  animation: shake 1s infinite;
  animation-play-state: paused;
}
.home .img img:hover {
  animation-play-state: running;
}

@keyframes shake {
  0% {
    transform: translateX(0);
    transform: rotate(150deg);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(360deg);
    transform: translateX(-7px);
  }

  20%,
  40%,
  60%,
  80%,
  100% {
   transform: rotate(150deg);
    transform: translateX(7px);
  }
}

.chefs {
  margin-bottom: 50px;
}
.content-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content-2 > span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: rgb(127, 127, 144);
  font-weight: 400;
}
.content-2 > p {
  font-family: "Amatic SC", sans-serif;
  font-size: 3.125rem;
  font-weight: 400;
  padding-bottom: 20px;
}
.content-2 p span {
  color: #cf1313;
}

.chefs .cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.chefs .cards h3 {
  font-family: "Inter", sans-serif;
  padding: 5px;
  font-size: 1.1875rem;
  font-weight: 700;
  color: rgb(33, 37, 41);
}
.chefs .cards span {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(127, 127, 144);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.chefs .cards p {
  font-size: 0.9375rem;
  font-weight: 400;
  color: rgb(127, 127, 144);
  font-family: italic;
  padding: 5px;
}
.chefs .card {
  width: 32%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.4s ease;
  position: relative;
}
.shape {
  position: absolute;
  left: 0;
  bottom: 135px;
  width: 100%;
  height: 4.75rem;
}
.img-card img {
  width: 100%;
  border-radius: 8px;
}

.chefs .card:hover {
  transform: scale(1.05);
}

.card .social-icone i {
  color: gray;
  font-size: 1.2rem;
  height: 1.7rem;
  padding: 15px 1px 27px;
  transition: all 0.3s;
}
.card .social-icone i:hover {
  color: #000;
}
.card .social-icone {
  background-color: rgba(167, 167, 174, 0.3);
  width: 45px;
  position: absolute;
  right: -55px;
  top: 5%;
  border-radius: 5px;
  transition: all 0.5s 0.4s;
}
.card .social-icone li,
a {
  list-style-type: none;
  text-decoration: none;
}
.card:hover .social-icone {
  right: 29px;
}

.gallery {
  background-color: #ededed;
}
.gallery .gallery-imgs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 72rem;
}
.gallery .gallery-imgs .img {
  width: 30%;
  position: relative;
  overflow: hidden;
  border: solid #ffff 5px;
  transition: all 0.3s;
}

.gallery .gallery-imgs img {
  width: 100%;
  transition: all 0.3s;
}

.layer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #ffffff;
  top: 100%;
  justify-content: center;
  transition: all 0.5s 0.2s;
}
.layer h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
}
.layer p {
  font-size: 18px;
  padding: 5px;
  margin: 10px;
}

.gallery-imgs .img:hover .layer {
  top: 0%;
}
.gallery-imgs .img:hover {
  transform: scale(1.02);
}

iframe {
  width: 100%;
  height: 20.7rem;
}

.contact-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-contact {
  width: 49%;
  height: 100px;
  background-color: #f5f5f5;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.address h3 {
  color: rgb(125, 125, 125);
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.address p {
  color: rgb(33, 37, 41);
  font-size: 1rem;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-contact i {
  color: #ffffff;
  font-size: 1.125rem;
}
.card-contact .icone {
  background-color: #cf1313;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 10px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-contact p span {
  font-weight: bold;
}

.form {
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 1px 0px 10px rgb(181, 172, 172);
  height: 29rem;
}

.form .name,
.subject,
.msg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form .name input {
  width: 48%;
  height: 60px;
  margin-top: 25px;
  border: rgba(181, 172, 172, 0.404) solid 2px;
  padding-left: 10px;
}
.form .subject input {
  width: 97.5%;
  height: 60px;
  margin-top: 25px;
  border: rgba(181, 172, 172, 0.404) solid 2px;
  padding-left: 10px;
}
.form .msg textarea {
  width: 97.5%;
  min-height: 9.375rem;
  max-height: 18.75rem;
  resize: vertical;
  margin-top: 25px;
  border: rgba(181, 172, 172, 0.404) solid 2px;
  padding-left: 10px;
  padding-top: 15px;
}
.form .btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.form button {
  background-color: #cf1313;
  border: #cf1313 solid 1px;
  border-radius: 25px;
  width: 10.25rem;
  height: 50px;
  color: #ffffff;
  font-size: 17px;
  transition: all 0.3s;
}

.form button:hover {
  background-color: #fe0404;
}


.footer{
  background-color: #000;
  margin-top: 30px;
  width: 100%;
  height: 50vh;
}
.footer .container{
  width: 90%;
  margin: auto;
  padding-top: 40px;
}
.footer .section{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: start;
}
.footer .mealify{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 22%;
}
.footer .mealify .logo-2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .mealify img{
 width: 12%;
}
.footer .mealify span {
  font-size: 1.875rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.footer .mealify .logo-2 span:after {
  content: ".";
  color: #cf1313;
  font-size: 1.25rem;
  font-weight: 700;
}
.footer .mealify p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 5px;
  color: #ffffff;
  font-size: 1rem;
}

.footer .mealify .content-2{
  padding-bottom: 15px;
  border-bottom: #7e7e8f solid 2px;
  
}
.footer .mealify .social span{
  font-family: "Inter", sans-serif;
  font-size: 1.1875rem;
  font-weight: 700;
  padding-bottom: 5px;
}

.footer .social-pics{
  padding-top: 15px;
  display: flex;
}

/* .footer .social-pics ul{
} */

.footer .social-pics i{
  font-size: 1.625rem;
  color: #fff;
  padding: 0 30px 30px 30px;
   
}


.footer li,a{
    list-style-type: none;
    text-decoration: none;
}

.footer .subs{
width: 50%;
}
.footer .subs .subs-content{
  display: flex;
  flex-wrap: wrap;
  padding-bottom:15px ;
}

.footer .subs-content h2{
  font-family: "Inter", sans-serif;
  font-size: 1.1875rem;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 10px;

}
.footer .subs-content p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: #ffffff;
    padding-bottom: 10px;
}
.subs .e-inpt{
width:80% ;
height: 40px;
}
.subs .subs-content button{
  color: #ffffff;
  background-color: #cf1313;
  font-size: 1rem  ;
    font-family: "Inter", sans-serif;
    border: #cf1313 solid 0px;
}
.subs .subs-content .subs-icone{
    background-color: #cf1313;
    width: 19%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    border-radius: 1px;
    transition: all 0.5s;
}
.subs .subs-content i{
  color: #ffffff;
  margin: 5px;        
}
.subs .subs-content .subs-icone:hover{
  background-color: #fe0404;
}

.q-links h2{
    font-family: "Inter", sans-serif;
      font-size: 1.1875rem;
      font-weight: 700;
      color: #ffffff;
      padding-bottom: 10px;
}
.q-links .links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.q-links .links  a{
  color: #fff;
}
.q-links .links li span{
  font-weight: 700;
}
.q-links .links li {
  width: 50%;
  height: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:1rem ;
  font-weight: 400;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
}
.q-links .links li:hover{
background-color: rgb(125, 125, 125 , 0.3);
transform:scale(1.03) ;
}

.footer .get{
  width: 22%;
}
.footer .get h2{
  font-family: "Inter", sans-serif;
    font-size: 1.1875rem;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 10px;
}
.footer .get span ,a{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
}
.footer .get li{
  font-size: 1.40rem;
}
.footer .get i{
  color: #cf1313;
  margin:8px;
}




